<!DOCTYPE html>
<html>
  <head>
    <title>Ryan Ringler.com - Ruby on Rails Enthusiast</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <a href="https://plus.google.com/116636431225715529307" rel="publisher">Google+</a>
  </head>
  <body>

    <%= render 'layouts/navbar' %>

    <main id="main" class="container">
      <%= yield %>
    </main>


    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
    <g:person href="https://plus.google.com/105704758697022690899" data-rel="author"></g:person>
    <g:page href="https://plus.google.com/116636431225715529307"></g:page>
  </body>
</html>
