<!DOCTYPE html>
<html>
  <head>
    <title>Ryan Ringler - Ruby on Rails Enthusiast</title>
    <meta name="description" content="Ryan Ringler is an electrical engineer,
    ruby and rails enthusiast, and technology nerd.  This is my resume.">
    <%= stylesheet_link_tag "application", media: "all",
                                          "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>

    <%= render 'layouts/navbar' %>

    <main id="main" class="container">
      <%= yield %>
    </main>


    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
    <div class="g-person" data-href="https://plus.google.com/105704758697022690899"></div>
    <div class="g-page" data-href="https://plus.google.com/116636431225715529307"></div>
  </body>
</html>
